APP_ENV="development"
PORT=80

# JWT
PRIVATE_KEY_PATH="/app/private.pem"
PUBLIC_KEY_PATH="/app/public.pem"

# Database
DB_USERNAME="app"
DB_PASSWORD="secret"
DB_DATABASE="app"
DB_HOST="express-api-db"

# Testing 
# $> docker exec -ti express-api npm run jwt -- --id="c4644733-deea-47d8-b35a-86f30ff9618e"
TEST_JWT=ey.... 